img{
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}
.card{
    height: 300px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    background-color: burlywood;
}
.btn{
    width: 150px;
    text-align: center;
    margin: auto;
}
